<form class="" action="<%=url%>" method="post">
  <%=auth_form%>
  <h2><%=message%></h2>

  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username">
  </br>

  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">
  </br>

  <input type="submit" value="Submit">

</form>
